// skip in the builder
plugins {
    id 'nf-crg-report@1.1.10'
}

nfreport {
    // Enable reports globally
    enabled = true
    outputDir = './reports'
    // Cost and pricing configuration
    costs {
        priceAPI = 'https://sit.crg.es/api/fees'
        defaultGpuMemGb = 10
        currency = 'EUR'
        launchFile = 'launch_nf.sh'
    }
    // Enable the Task Status Report (which includes the cost estimation fields)
    taskStatusReport {
        enabled = true
        format = ['json', 'html']
    }
}
