/*
 * HPC (Slurm cluster) profile configuration
 */

process {
    executor      = 'slurm'
    queue         = 'normal'
    cpus          = 1
    memory        = { 6.GB * task.attempt }
    time          = { 4.h * task.attempt }
    shell         = ['/bin/bash', '-euo', 'pipefail']
    maxRetries    = 2
    errorStrategy = 'retry'

    withLabel: process_low {
        queue         = 'short'
        cpus          = 1
        memory        = { 4.GB * task.attempt }
        time          = { 1.h * task.attempt }
    }

    withLabel: process_medium {
        queue         = 'normal'
        cpus          = 4
        memory        = { 16.GB * task.attempt }
        time          = { 6.h * task.attempt }
    }

    withLabel: process_high {
        queue         = 'long'
        cpus          = 16
        memory        = { 64.GB * task.attempt }
        time          = { 24.h * task.attempt }
    }

    withLabel: gpu {
        queue            = 'gpu'
        cpus             = 4
        memory           = { 32.GB * task.attempt }
        time             = { 8.h * task.attempt }
        accelerator      = [request: 1, type: 'gpu']
        clusterOptions   = '--gres=gpu:1'
        containerOptions = '--cleanenv --nv'
    }
}
