manifest {
    name            = 'Test Nextflow Pipeline'
    author          = 'Luca Cozzuto'
    description     = 'A simple Nextflow pipeline demonstrating profile switching between local and HPC'
    version         = '1.0.0'
    nextflowVersion = '!>=23.04.0'
    homePage        = 'https://github.com/biocorecrg/nf_command_builder'
}

/*
 * Profile configurations: switch between local execution and HPC cluster
 */
profiles {
    local {
        includeConfig 'conf/local.config'
    }
    hpc {
        includeConfig 'conf/hpc.config'
    }
    cost {
        includeConfig 'conf/cost.config'
    }
}

// Global process defaults
process {
    container = 'quay.io/biocontainers/python:3.10'
}

docker.registry      = 'quay.io'
singularity.registry = 'quay.io'
